//*h1{
    color: black;
    text-align: left;
    font-family: 'Gill Sans MT Ext Condensed Bold';
    font-weight: bolder;
}
P{
    color: rgb(0, 0, 0);
    text-align: start;
}
body{
    width: 400px;
    height: 300px;
    text-align: left;
    background-image: url("resumebg.avif");
    background-position: top;
    background-size: cover;
    margin: auto;
}    
.box{
     width: 300px;
    height: 400px;
    background-image: url("Sri\ Chaitanya\ \(1\).jpg");
    background-position: center;
    background-size: cover;
    margin: auto;
}
form{
    color: black;
}
section{
    color: black;
}
h3{
    color: black;
}*//
